/*GLOBAL*/
* {
  box-sizing: border-box;
  line-height: 1.2;
  font-family: Barlow, sans-serif;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  --main-color: #970808;
  padding-bottom: 16rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

/*HEADER*/
.header {
  display: flex;
  background-color: var(--main-color);
  color: white;
  max-height: 7rem;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  transition: all .2s ease;
  margin-bottom: 1rem;
}

.header__logo {
  height: 2rem;
  transition: all .2s ease;
}

.header__logo_hide {
  opacity: 0;
}

/*SEARCH BAR*/
.search-form {
  position: absolute;
  right: 1rem;
  display: flex;
  background: white;
  color: var(--main-color);
  height: 3rem;
  border-radius: 1.5rem;
  box-shadow: 0 2px 4px hsla(0, 0%, 0%, .25);
  font-size: 1rem;
  transition: all .2s ease;
}

.search-form__input {
  border: 0;
  border-radius: 3rem;
  color: var(--main-color);
  padding: 1rem;
  padding-right: 2rem;
  font-size: 1rem;
  line-height: 1;
  width: 0;
  z-index: 3;
  transition: all .2s ease;
}

.search-form__input_show {
  width: calc(100vw - 2rem);
  padding-right: 3rem;
}

.search-form__button {
  position: absolute;
  right: 0;
  width: 3rem;
  height: 3rem;
  border: 0;
  color: var(--main-color);
  background: none;
  font-size: 1.5rem;
  padding: .5rem;
  z-index: 3;
  transition: all .2s ease;
}

/*AWESOMPLETE*/
/*based on @author Lea Verou http://leaverou.github.io/awesomplete * MIT license*/
.awesomplete [hidden] {
  display: none;
}

.awesomplete .visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.awesomplete {
  display: inline-block;
  position: relative;
}

.awesomplete > input {
  display: block;
}

.awesomplete > ul {
  position: absolute;
  left: 0;
  top: 1.5rem;
  z-index: 2;
  min-width: 100%;
  list-style: none;
  padding: 0;
  padding-top: 1.5rem;
  margin: 0;
  background: #fff;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  box-shadow: 0 2px 4px hsla(0, 0%, 0%, .25);
  line-height: 0;
  transition: all .2s ease;
}

.awesomplete > ul:empty {
  display: none;
}

.awesomplete > ul[hidden],
.awesomplete > ul:empty {
  opacity: 0;
  display: block;
  transition-timing-function: ease;
}
}

.awesomplete > ul > li {
  position: relative;
  padding: 1rem;
  cursor: pointer;
}

.awesomplete > ul > li {
  position: relative;
  padding: 1rem;
  cursor: pointer;
}

.awesomplete > ul > li:last-child {
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

.awesomplete > ul > li:hover {
  background: var(--main-color);
  color: white;
}

.awesomplete > ul > li[aria-selected="true"] {
  background: var(--main-color);
  color: white;
}

/*HOMEPAGE GRID*/
.homepage-grid {
  display: grid;
  transition: all .2s ease;
  margin-left: auto;
  margin-right: auto;
  max-width: 75rem;
}

/*QUIZ*/
/*based on QuizLib version 1.0.1 by Andy Palmer https://alpsquid.github.io/quizlib*/
.quiz {
  margin-bottom: 1rem;
}

.quiz__question {
  margin-bottom: 1rem;
}

.quiz__question-title {
  font-weight: bold;
}

.quiz__question_warning {
  color: #970808;
  margin-left: 1em;
  margin-bottom: 0.5em;
}

.quiz_correct {
  color: green;
}

.quiz_incorrect {
  color: #970808;
}

.quiz__button {
  height: 3rem;
  width: 100%;
  border: 0;
  color: var(--main-color);
  background: white;
  font-size: 1rem;
  padding: .5rem 1rem;
  transition: all .2s ease;
  border-radius: 1.5rem;
  box-shadow: 0 2px 4px hsla(0, 0%, 0%, .25);
}

.quiz__button:hover {
  box-shadow: 0 8px 16px hsla(0, 0%, 0%, .25);
  transform: scale(1.01);
}

/*TIME MARKERS*/
.time {
  font-weight: bold;
  padding: 1rem;
  text-align: right;
}

.time::before {
  content: "~"
}

.time::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-size: 1.5rem;
  content: " \f017"
}

.time_short {
  color: green;
}

.time_medium {
  color: orange;
}

.time_long {
  color: #970808;
}

/*ARTICLE CARD*/
.article-card {
  position: relative;
  border-radius: 1rem;
  box-shadow: 0 2px 4px hsla(0, 0%, 0%, .25);
  margin: 0 1rem 1rem;
  transition: all .2s ease;
  font-size: 0;
  height: 16rem;
  transition: all .2s ease;
}

.article-card:hover,
article-card:active {
  box-shadow: 0 8px 16px hsla(0, 0%, 0%, .25);
  transform: scale(1.01);
}

.article-card_large {
  height: 24rem;
}

.article-card__header {
  position: absolute;
  top: 0;
  font-size: 1rem;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: white;
  width: 100%;
  height: auto;
  z-index: 1;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.article-card__title {
  font-size: 2em;
  padding: 1rem;
}

.article-card__image {
  position: absolute;
  bottom: 0;
  padding-top: 5rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.article-card__description {
  position: absolute;
  bottom: 0;
  font-size: 1rem;
  padding: 1rem;
  color: white;
  text-shadow: 0 0 .5rem black;
  background: linear-gradient(to top, hsla(0, 0%, 0%, .75) 0%, hsla(0, 0%, 0%, 0.5) 50%, hsla(0, 0%, 0%, 0) 100%);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  transition: all .2s ease;
}

/*ARTICLE*/
.article {
  max-width: 75rem;
  width: 100%;
  margin: 0 1rem 1rem;
  border-radius: 1rem;
  box-shadow: 0 2px 4px hsla(0, 0%, 0%, .25);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article a {
  color: var(--main-color);
}

.article_align {
  display: flex;
  justify-content: center;
  margin: 0;
}

.article__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.article__title {
  font-size: 2em;
  padding: 1rem;
}

.article__header-image {
  width: 100%;
  height: 16rem;
  object-fit: cover;
  margin-bottom: 1rem;
}

.article__lead {
  font-size: 1.25rem;
  max-width: 36rem;
  width: 100%;
  padding: 1rem;
}

.article__step {
  max-width: 36rem;
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
}

.article__heading {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.article__subheading {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.article__paragraph {
  font-size: 1.125rem;
  margin-bottom: 1rem;
}

.article__list {
  margin: 0;
  padding-left: 1rem;
  column-count: 2;
}

.article__list-item {
  font-size: 1.125rem;
  padding-bottom: 1rem;
}

/*STRING DIAGRAM*/
.string-diagram__image {
  max-width: 100%;
  margin-bottom: 1rem;
}

.string-diagram__text {
  text-align: center;
  font-weight: bold;
  font-size: 1.25rem;
}

/*FOOTER*/
.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--main-color);
  color: white;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  margin-top: 1rem;
  transition: all .2s ease;
  box-shadow: 0 2px 4px hsla(0, 0%, 0%, .25);
  height: 16rem;
  position: absolute;
  bottom: 0;
}

.footer a {
  color: hsla(0, 0%, 100%, 0.75);
}

.footer a:hover {
  color: white;
}

.footer__tutorials-title {
  font-size: 1.5rem;
  text-align: center;
}

.footer__tutorials-list {
  margin: 0;
  padding: 0;
  column-count: 2;
}

.footer__tutorials-list li {
  padding: .5rem 0;
  list-style: none;
}

.footer__credit {
  margin-top: 2rem;
}

/*MEDIA QUERIES*/
@media only screen and (min-width: 600px) {
  .footer__tutorials-list {
    column-gap: 4rem;
  }

  .homepage-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .article-card {
    margin: 1rem;
  }

  .article-card__description {
    font-size: 1.25rem;
  }

  .article-card_large {
    grid-column: 1 / 3;
    grid-row: 1 / 4;
  }
}

@media only screen and (min-width: 900px) {
  .header {
    padding: 2rem 4rem;
  }

  .header__logo {
    height: 3rem;
  }

  .header__logo_hide {
    opacity: 1;
  }

  .search-form {
    right: 4rem;
  }

  .search-form__input {
    width: 16rem;
  }

  .homepage-grid {
    margin-bottom: 1rem;
  }

  .article-card__description {
    font-size: 1.25rem;
  }

  .article {
    margin: 1rem 2rem;
    border-radius: 1rem;
  }

  .article__image_header {
    height: 20rem;
  }

  .article__list,
  .footer__tutorials-list {
    column-count: 3;
  }
}

@media only screen and (min-width: 1200px) {
  .homepage-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .article-card_large {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    height: auto;
  }

  .article__image_header {
    height: 24rem;
  }
}
